@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Minha primeira página aprendendo, de verdade, uma linguagem de programação que me ajudará profissionalmente.</p>
<p>@ViewData["Author"]</p>
